.impress-on-title .footer {
    opacity: 1;
}
#html-title {
    background-image: url('../img/HTML5-notext.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
